feature_extraction/mel_segment_outputs
feature_extraction/stft_segment_outputs
feature_extraction/mfcc_segment_outputs
feature_extraction/training_set_audio
feature_extraction/lfcc_segment_outputs
feature_extraction/wav2vec_updated_segment_outputs
feature_extraction/logmel_segment_outputs

# Ignore an entire folder containing data
team_lab_deepfake/add_lfcc_with_delta_eval
team_lab_deepfake/add_lfcc_with_delta_dev
team_lab_deepfake/add_lfcc_with_delta_train
team_lab_deepfake/itw_lfcc_with_delta
team_lab_deepfake/lfcc_tensors_dev_set_with_delta
team_lab_deepfake/lfcc_tensors_eval_set_with_delta
team_lab_deepfake/lfcc_tensors_train_set_with_delta


# Ignore all files ending with a specific extension (e.g., all Excel or zip files)
*.xlsx
*.zip
*.tar.gz

# Ignore system files and python cache folders
__pycache__/
.DS_Store
.env

# Ignore all papers and documentation files
team_lab_deepfake/teamlab-phonetics/Literature Review

#ignore all pathlib files
*.pth
*threshold.txt